<link rel="stylesheet" href="http://drive.google.com/uc?export=view&id=1Drs3hCZlnjvRoQ8iz0e4_yHifdDbsq5J">
<link href="http://drive.google.com/uc?export=view&id=17gs52PalC1dMxP-h8atpUDN4Tm3qRKOz" rel="stylesheet" />
<link href="http://drive.google.com/uc?export=view&id=1SEofBw3yTukJhf67pPRx2k9VcQjzJffu" rel="stylesheet" />
<link rel="stylesheet" href="http://drive.google.com/uc?export=view&id=1kf2DBk20EBYsqaOvaYCp3emPp-NvkNyh">
<link href="http://drive.google.com/uc?export=view&id=1t7fw6d-G6BZNwPgh4bSSAhLrbCE-ABZk" rel="stylesheet" />
<link rel="stylesheet" href="http://drive.google.com/uc?export=view&id=1eVRM0BF0Z74ISifOPJJCRPyLE_ceV_Ln">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
<script src="http://drive.google.com/uc?export=view&id=1BsSOsFAGj3yay3si-yp5AXLiAeT1e3n-"></script>

<style>
  #hola {
    background-color:black;
    opacity: 0.5;
  }
   #intro{
     width: 100%;
     min-height: 100%;
     margin: 0 auto;
     background: rgb(230, 236, 236);
     box-shadow: 0px 0px 40px black;
     border-radius: 6px;
     box-sizing: border-box;
     overflow: hidden;

  }
</style>

<div id="intro">
  <ul id="slippry-slider">
    <li>
      <a href="#slide1"><img src="https://images.pexels.com/photos/34676/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb"  alt="<p id='hola'>Welcome to ...</p>"></a>
    </li>
    <li>
      <a href="#slide2"><img src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"  alt="<img src='https://bgasparotto.com/wp-content/uploads/2016/03/ruby-logo.png' style='opacity: 0.5' width='100%'></img>"></a>

    </li>
    <li>
      <a href="#slide3"><img src="https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="<p id='hola'>  Don't repeat yourself! <span class='red'>♥</span> :)</p>"></a>
    </li>
  </ul>
</div>
<!-- end intro -->

<a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
<!-- javascript -->
<script src="http://drive.google.com/uc?export=view&id=10NZZBMTI8GT_62S26lHdbi0CrM74V95Z"></script>
<script src="http://drive.google.com/uc?export=view&id=18vx65lCOaACT1onYyCtNB3JeX5sdQR6A"></script>
<script src="http://drive.google.com/uc?export=view&id=1Q2_GAl-FjuS2-Jg6oV90fiVpjTQz8hyo"></script>
<script src="http://drive.google.com/uc?export=view&id=1UN8NCp7Zllc3yIE7MrjSfVicv7aRgG2m"></script>
<script src="http://drive.google.com/uc?export=view&id=189AYrIr_q1MhlVegiF3z_2PNLUm0BC-R"></script>
<script src="http://drive.google.com/uc?export=view&id=1XtCf6qHXqD-IZA0QE2q94zMVBCY4IjqL"></script>
<script src="http://drive.google.com/uc?export=view&id=1NT5UaWB1L-IMb4ZprXLgpQhTcht0c0Nl"></script>
<script src="http://drive.google.com/uc?export=view&id=1I1fix-c3L0Oa9X9NWTQNbE0NM9CBOkCU"></script>
<script src="http://drive.google.com/uc?export=view&id=1k8BxWzgiSRsYjJcrD3AKgHIuFyQuLIxh"></script>
<script src="http://drive.google.com/uc?export=view&id=1ajWZelkCVTlGaJye8CT6JPLhZXxQ-Wb_"></script>
<script src="http://drive.google.com/uc?export=view&id=1dsvSZtpA2f-jW3VnPC2u1jIw-k--apFr"></script>
<script src="http://drive.google.com/uc?export=view&id=1BxVrmUTLK_nlk4MNnWdadRMrgx6tHQWj"></script>
<script src="http://drive.google.com/uc?export=view&id=1Ro3uTuxTapwv6zKqt3d81E7sf4pun9df"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
<script src="http://drive.google.com/uc?export=view&id=1i9lmHU55kiyM5vnOZauh89K7oDOrrr5_"></script>
<script>
    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });
</script>
<script>
    $(document).ready(function() {
        $('#slippry-slider').slippry(
            defaults = {
                transition: 'vertical',
                useCSS: true,
                speed: 5000,
                pause: 3000,
                initSingle: false,
                auto: true,
                preload: 'visible',
                pager: false,
            }

        )
    });
</script>

<script src="http://drive.google.com/uc?export=view&id=11Pu03UocPFRjgIwSEteufrkzzdz305Vr"></script>






