<h1>Editing Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to image_tag('https://cdn2.iconfinder.com/data/icons/picons-essentials/71/visibility-512.png',:style=>'width:50px'), @photo %> |
<%= link_to image_tag('http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/arrow-back-icon.png',:style=>'width:50px'), photos_path %>
